<!DOCTYPE html>
<html>
    <head>
        <title>Dance Camp</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        
      <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"> Dance Camp</a>
        </div>
        <div class="collapse navbar-collapse" style="display:flex; justify-content:flex-end;">
          <ul class="navbar-nav">
            <%if(!currentUser){%>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
           <% }else{ %>
                  <li class="nav-item"><a class="nav-link" href="#">Signed In As <%= currentUser.username%></a></li>
                  <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
           <% } %>
          </ul>
          
        </div>
      </div>
    
  </nav>
        
    <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>